{% extends 'base.html.twig' %}

{% block body %}

<h1>Page de modification</h1>



    <form action="{{path('modify', {id: post.id}) }}" method="POST">
    
        <div class="form-group">
            <label for="title">Title</label>
            <input  class="form-control" id="title" name="title" value="{{post.title}}">
        </div>
    
        <div class="form-group">
            <label for="body">body</label>
            <input  class="form-control" id="body" name="body" value="{{post.body}}">
        </div>
    
        <div class="form-group">
            <label for="nbLikes">nbLikes</label>
            <input  class="form-control" id="nbLikes" name="nbLikes" value="{{post.nbLikes}}">
        </div>

        <div class="form-group">
            <label for="updatedAt">updatedAt</label>
            <input  class="form-control" id="updatedAt" name="updatedAt" value="{{post.updatedAt|date("m/d/Y")}}">
        </div>
        
        <div class="form-group">
            <label for="publishedAt">publishedAt</label>
            <input  class="form-control" id="publishedAt" name="publishedAt" value="{{post.publishedAt|date("m/d/Y")}}">
        </div>
    
    
        <button type="submit" class="btn btn-primary">Submit</button>
    
    </form>
    
    <a href="{{ path('showAll')}}">view DB</a>
    <a href="{{ path('home')}}">home</a>
    





{% endblock %}