{% extends 'base.html.twig' %}

{% block body %}

<h1>La Super Database</h1>


<table>

    <tr class="mainTr">
      <td>id</td>
      <td>title</td>
      <td>body</td>
      <td>nblikes</td>
      <td>creer le</td>
      <td>mis à jour le</td>
      <td>publié le</td>
    </tr>

        <tr>
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td>{{post.body}}</td>
            <td>{{post.nbLikes}}</td>
            <td>{{post.createdAt|date("m/d/Y")}}</td>
            <td>{{post.updatedAt|date("m/d/Y")}}</td>
            <td>{{post.publishedAt|date("m/d/Y")}}</td>
        </tr>


</table>

<h1>Liste des commentaires</h1>


{% for label, messages in app.flashes %}

    {{messages.0}}

{% endfor %}


{% if post.comments is defined %}

  {% for comment in post.comments %}

    <p>{{comment.username}}</p>
    <p>{{comment.body}}</p>
    <p>{{comment.publishedAt|date("m/d/Y à H:i:s")}}</p>

  {% endfor %}

{% endif %}


<h1>Ajouter un commentaire</h1>

<form action="" method="Post">

    <div class="form-group">
        <input type="hidden" class="form-control" id="post_id" name="post_id" value="{{post.id}}">
    </div>

    <div class="form-group">
      <label for="Username">Username</label>
      <input  class="form-control" id="Username" name="Username" placeholder="username">
    </div>

    <div class="form-group">
      <label for="body">Body</label>
      <textarea name="body" id="body" cols="30" rows="10"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

{% endblock %}